@charset "utf-8";

@import url("nav.css");

.body {
	font-family: "Calibre", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   }

#content-container {
    height: -webkit-calc(100vh - 130px);
    height: -moz-calc(100vh - 130px);
  	height: calc(100vh - 130px);
  	/*border-left:1px solid black;*/
  	padding:1%;
    margin-top: 5%;

}

#header a:link, a:visited {  
	color:#000;
}
#header a:hover {
	color:#111;
	text-decoration: none;
}

#title-span {
	/*padding-bottom: 200px;
    margin-bottom: -200px;*/
    /*border-left:1px solid black;*/
    padding-left:1%;
}


.img-circle {
    border-radius: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 400px;
        
}

.img-logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:10%;
    max-height: 100px;
        
}


#header{
	
	background: #fff;
	margin: 0; padding: 0;
	/*border-bottom: 1px solid #000;*/
	
}

#header h1, h2, h3, h4 {
	font-family: "Calibre", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

#header h1 {
   	font: 38pt;
   	color:#3B5998;
   	text-align: left;
   	font-weight: normal;
}

#header h2 {
   	font-size: 15pt;
   	color:#3B5998;
   	text-align: center;
   	line-height: normal;
   	font-weight: normal;
}

#header h3 {
   	text-align: center;
   	font-size: 17pt;
   	color:#3B5998;
   	font-weight: normal;
}

#header h4 {
   	text-align: center;
   	font-size: 12pt;
   	color:#3B5998;
   	font-weight: normal;
}

input[type="button"],
button {
    background: none;
    border: 1px solid #aaa;
    border-radius: 2px;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 3px;
    margin-top:2px;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}



/********************** HOME ******************************/
#home {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
	background: #fff;
	padding-top:2%;
	height:100%;
}
#home h1, h2{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	font-size:28pt;
	text-align: left;
	line-height: normal;
}

#home h2 {
	font-size: 20px;
	line-height: normal;

}

#home #home-meetings {
	/* for visual troubleshooting  border:1px solid red; */
	overflow-y:scroll;
	max-height:-webkit-fill-available;
}

#home th {
	border-bottom: 1px solid black;
	text-align: left;
	font-weight:normal;
}

#home td {
	border: 0px;
}

#home h3, h4 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 100;
	text-align: center;
}

.thread-div {
  /*border:1px solid #666;*/
  border-radius: 10px;
  max-width:500px;
  padding:3%;
}

.subject-div {
  /*border-bottom:1px solid black;*/
}
.body-div {
  /*border-bottom:1px solid black;*/
}

.postedBy-div {
  border-bottom:1px solid #aaa;
  font-size:8pt;
  font-style: italic;
}

.replies-div {
  padding-left:5%;
}

.user-div {
  border-bottom:1px solid #999;
}




/********************** EVENTS ******************************/

#home-events {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
	background: #fff;
	padding-top:2%;
	height:100%;
}
#home-events h1 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	font-size:28pt;
	text-align: center;
}

#home-events h2 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
	font-size: 20px;
	line-height: 100%
}

#thread-form {
  display:none;
}

/********************** CONTACT ******************************/


#contact-content {
	padding-top: 2%;
}